

.col-md-4{
    height: 100%;
    width: auto;
	border-style: solid;
	border-color: gray;
	margin-top: 5%;
	margin-left: 10%;
	margin-bottom: 10%;
	padding: 20px 20px 20px 20px;
	background-color: #ffffff;
}

#container{
	height: 100%;
	background-color: pink;
}

.alert-success{
	width: 100%;
}

.alert-danger{
	width: 100%;
}

.form-control{
	width: 100%;
}

.form-group{
	width: 100%;
}
